
body{
background-color:royalblue ;
}


 h1{
color:red ;
font-family:Georgia, 'Times New Roman', Times, serif ;
background:black ;
}


p{
color:red ;
font-family:Georgia, 'Times New Roman', Times, serif ;
font: size 2px; ;
background:black ;
}
